@font-face {
    font-family: 'lato_bold';
    src: url('lato-bold.eot') format('eot'),
         url('lato-bold.otf') format('otf'),
         url('lato-bold.ttf') format('ttf'),
         url('lato-bold.woff') format('woff'),
         url('lato-bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato_regular';
    src: url('lato-regular.eot') format('eot'),
         url('lato-regular.otf') format('otf'),
         url('lato-regular.ttf') format('ttf'),
         url('lato-regular.woff') format('woff'),
         url('lato-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}