@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?z6ox1w');
  src:  url('icomoon.eot?z6ox1w#iefix') format('embedded-opentype'),
    url('icomoon.ttf?z6ox1w') format('truetype'),
    url('icomoon.woff?z6ox1w') format('woff'),
    url('icomoon.svg?z6ox1w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-agendar-cita:before {
  content: "\e900";
}
.icon-cerrar-sesion:before {
  content: "\e901";
}
.icon-medicos-favoritos:before {
  content: "\e902";
}
.icon-mi-cuenta:before {
  content: "\e903";
}
.icon-miembros:before {
  content: "\e904";
}
.icon-mis-citas:before {
  content: "\e905";
}
.icon-notificaciones:before {
  content: "\e906";
}
.icon-cursos:before {
  content: "\e907";
}
.icon-preguntas-frecuentes:before {
  content: "\e908";
}
.icon-resultado-de-laboratorio:before {
  content: "\e909";
}
.icon-staff-medico:before {
  content: "\e90a";
}
